# Importing Necessary Libraries

In [1]:
import pandas as pd

 ### Department File

In [2]:
dept = pd.read_csv('Downloads/InstaCart Dataset/departments.csv')
dept.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [3]:
dept.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes

In [4]:
dept['department_id'].nunique() # Number of unique department_ids

21

In [5]:
dept['department_id'].unique() # Unique department_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21], dtype=int64)

In [6]:
dept['department'].nunique()  # Number of unique departments

21

In [7]:
dept['department'].unique() # Unique departments

array(['frozen', 'other', 'bakery', 'produce', 'alcohol', 'international',
       'beverages', 'pets', 'dry goods pasta', 'bulk', 'personal care',
       'meat seafood', 'pantry', 'breakfast', 'canned goods',
       'dairy eggs', 'household', 'babies', 'snacks', 'deli', 'missing'],
      dtype=object)

Summary -> There are 21 Departments with their respective Department IDs

### Orders File

In [8]:
orders = pd.read_csv('Downloads/InstaCart Dataset/orders.csv')
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [10]:
orders.shape

(3421083, 7)

In [11]:
orders['order_id'].nunique() # since the no. of unique order ids is same as total no. of records therefore we have unique order id for each order

3421083

In [12]:
orders['user_id'].nunique() # No. of unique user ids

206209

In [13]:
orders['order_number'].nunique() # No. of unique order numbers

100

In [14]:
orders['order_number'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100], dtype=int64)

In [15]:
orders['order_dow'].unique()

array([2, 3, 4, 1, 5, 0, 6], dtype=int64)

In [16]:
orders['order_hour_of_day'].nunique()
orders['order_hour_of_day'].unique()

array([ 8,  7, 12, 15,  9, 14, 16, 11, 10, 19, 18, 17, 13, 20,  0, 21, 22,
        5, 23,  4,  6,  1,  2,  3], dtype=int64)

In [17]:
orders['days_since_prior_order'].nunique()
orders['days_since_prior_order'].unique()

array([nan, 15., 21., 29., 28., 19., 20., 14.,  0., 30., 10.,  3.,  8.,
       13., 27.,  6.,  9., 12.,  7., 17., 11., 22.,  4.,  5.,  2., 23.,
       26., 25., 16.,  1., 18., 24.])

### Products File

In [18]:
products = pd.read_csv('Downloads/InstaCart Dataset/products.csv')
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [19]:
products['product_id'].nunique()

49688

In [20]:
products['product_id'].unique()

array([    1,     2,     3, ..., 49686, 49687, 49688], dtype=int64)

In [21]:
products['product_name'].nunique()

49688

In [22]:
products['aisle_id'].nunique()

134

In [23]:
products['aisle_id'].unique()

array([ 61, 104,  94,  38,   5,  11,  98, 116, 120, 115,  31, 119,  74,
        56, 103,  35,  79,  63,  40,  20,  49,  47,   3,  41, 127, 121,
        81, 123, 107, 131, 106,  69, 100,  64,  78,  83,  58,  66,  87,
        14, 105,  22, 134,  23, 111, 128,  50,   9,  96,  92,  89,  88,
       130,  26,  77,  65,  12,  95,  19,   7,   6,  97,   2, 112,  10,
        51,  13,  75,  70,  93,  34,  62,  21,  29,  45, 118,   4, 108,
        37, 109,  91,  24,  67, 132,  25, 129,  46,  16,  52,  17,  73,
       122,  42,  59, 126,  33,   1,   8,  82, 114, 124, 117,  72, 110,
        85,  44,  80, 101,  84,  30,  27,  90,  48, 133,  53,  28,  68,
        43, 125,  57,  15,  55,  36,  54, 102,  60,  99,  18,  39,  71,
       113,  86,  32,  76], dtype=int64)

In [24]:
products['department_id'].nunique()

21

In [25]:
products['department_id'].unique()

array([19, 13,  7,  1, 11, 16, 17, 18, 12,  9,  8, 14, 15,  4, 21,  6, 20,
        5,  3,  2, 10], dtype=int64)

In [26]:
products.describe()

         product_id      aisle_id  department_id
count  49688.000000  49688.000000   49688.000000
mean   24844.500000     67.769582      11.728687
std    14343.834425     38.316162       5.850410
min        1.000000      1.000000       1.000000
25%    12422.750000     35.000000       7.000000
50%    24844.500000     69.000000      13.000000
75%    37266.250000    100.000000      17.000000
max    49688.000000    134.000000      21.000000

### order_prod_prior File

In [27]:
order_prod_prior = pd.read_csv('Downloads/InstaCart Dataset/order_products__prior.csv')
order_prod_prior.head()
#order_prod_prior.shape

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### Aisle File

In [28]:
aisle = pd.read_csv('Downloads/InstaCart Dataset/aisles.csv')
aisle.head()
# aisle.tail()
# aisle.info()
# aisle.describe()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [29]:
aisle['aisle_id'].nunique()

134

In [30]:
aisle['aisle'].nunique()
# aisle['aisle'].unique()

134

# Joining

In [31]:
join_1 = pd.merge(products, aisle, how='left', on='aisle_id')
join_1

,product_id,product_name,aisle_id,department_id,aisle
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes
1,2,All-Seasons Salt,104,13,spices seasonings
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation
...,...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,spirits
49684,49685,En Croute Roast Hazelnut Cranberry,42,1,frozen vegan vegetarian
49685,49686,Artisan Baguette,112,3,bread
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,cat food care
49687,49688,Fresh Foaming Cleanser,73,11,facial care

In [32]:
join_2 = pd.merge(join_1, dept, how='left', on='department_id')
join_2

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,2,All-Seasons Salt,104,13,spices seasonings,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals,frozen
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation,pantry
...,...,...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,spirits,alcohol
49684,49685,En Croute Roast Hazelnut Cranberry,42,1,frozen vegan vegetarian,frozen
49685,49686,Artisan Baguette,112,3,bread,bakery
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,cat food care,pets
49687,49688,Fresh Foaming Cleanser,73,11,facial care,personal care

In [33]:
join_3 = pd.merge(join_2, order_prod_prior, how='left', on='product_id')
join_3

,product_id,product_name,aisle_id,department_id,aisle,department,order_id,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,1107.0,7.0,0.0
1,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,5319.0,3.0,1.0
2,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,7540.0,4.0,1.0
3,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,9228.0,2.0,0.0
4,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,9273.0,30.0,0.0
...,...,...,...,...,...,...,...,...,...
32434495,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,3111954.0,3.0,0.0
32434496,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,3122003.0,20.0,0.0
32434497,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,3166828.0,5.0,1.0
32434498,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,3290206.0,10.0,0.0
32434499,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,3401313.0,5.0,0.0

In [ ]:
final_join = pd.merge(join_3, orders, how='left', on='order_id')
final_join.head()

# Analysis

Q1. Mention the 3 most popular aisles among customers?

In [35]:
popular_aisle_1 = final_join.groupby('aisle')['reordered'].aggregate(['count','sum'])
popular_aisle_1

                                 count       sum
aisle
air fresheners candles           19851    6135.0
asian foods                     166607   58501.0
baby accessories                  8160    4496.0
baby bath body care               8581    2538.0
baby food formula               382456  225748.0
...                                ...       ...
trash bags liners                32081   10771.0
vitamins supplements             45059   14036.0
water seltzer sparkling water   841533  613977.0
white wines                      30558   19254.0
yogurt                         1452343  997018.0

[134 rows x 2 columns]

In [36]:
popular_aisle_2 = popular_aisle_1.rename(columns = {'count':'Total Orders', 'sum':'Re-Ordered Count'})
popular_aisle_2

                               Total Orders  Re-Ordered Count
aisle
air fresheners candles                19851            6135.0
asian foods                          166607           58501.0
baby accessories                       8160            4496.0
baby bath body care                    8581            2538.0
baby food formula                    382456          225748.0
...                                     ...               ...
trash bags liners                     32081           10771.0
vitamins supplements                  45059           14036.0
water seltzer sparkling water        841533          613977.0
white wines                           30558           19254.0
yogurt                              1452343          997018.0

[134 rows x 2 columns]

In [37]:
popular_aisle_3 = popular_aisle_2.sort_values('Re-Ordered Count', ascending = False)
popular_aisle_3

                            Total Orders  Re-Ordered Count
aisle
fresh fruits                     3642188         2615469.0
fresh vegetables                 3418021         2032172.0
packaged vegetables fruits       1765313         1127177.0
yogurt                           1452343          997018.0
milk                              891015          696264.0
...                                  ...               ...
frozen juice                        4853            2188.0
first aid                          10872            2118.0
eye ear care                        8974            1950.0
kitchen supplies                    9172            1792.0
beauty                              6168            1308.0

[134 rows x 2 columns]

In [38]:
popular_aisle_3[0:3]

                            Total Orders  Re-Ordered Count
aisle
fresh fruits                     3642188         2615469.0
fresh vegetables                 3418021         2032172.0
packaged vegetables fruits       1765313         1127177.0

Top 3 aisles where customers reordered the most were Fresh Fruits, Fresh Vegetables and Packaged Vegetables Fruits.

Q2. Which departments have the highest rate of returning customers?

In [39]:
popular_dept_1 = final_join.groupby('department')['reordered'].aggregate(['count','sum'])
popular_dept_1

                   count        sum
department
alcohol           153696    87595.0
babies            423802   245369.0
bakery           1176787   739188.0
beverages        2690129  1757892.0
breakfast         709569   398013.0
bulk               34573    19950.0
canned goods     1068058   488535.0
dairy eggs       5414016  3627221.0
deli             1051249   638864.0
dry goods pasta   866627   399581.0
frozen           2236432  1211890.0
household         738666   297075.0
international     269253    99416.0
meat seafood      708931   402442.0
missing            69145    27371.0
other              36291    14806.0
pantry           1875577   650301.0
personal care     447123   143584.0
pets               97724    58760.0
produce          9479291  6160710.0
snacks           2887550  1657973.0

In [40]:
popular_dept_2 = popular_dept_1.rename(columns = {'count':'Total Orders', 'sum':'Re-Ordered Count'})
popular_dept_2

                 Total Orders  Re-Ordered Count
department
alcohol                153696           87595.0
babies                 423802          245369.0
bakery                1176787          739188.0
beverages             2690129         1757892.0
breakfast              709569          398013.0
bulk                    34573           19950.0
canned goods          1068058          488535.0
dairy eggs            5414016         3627221.0
deli                  1051249          638864.0
dry goods pasta        866627          399581.0
frozen                2236432         1211890.0
household              738666          297075.0
international          269253           99416.0
meat seafood           708931          402442.0
missing                 69145           27371.0
other                   36291           14806.0
pantry                1875577          650301.0
personal care          447123          143584.0
pets                    97724           58760.0
produce               9479291         6160710.0
snacks                2887550         1657973.0

In [41]:
popular_dept_3 = popular_dept_2.sort_values('Re-Ordered Count', ascending = False)
popular_dept_3

                 Total Orders  Re-Ordered Count
department
produce               9479291         6160710.0
dairy eggs            5414016         3627221.0
beverages             2690129         1757892.0
snacks                2887550         1657973.0
frozen                2236432         1211890.0
bakery                1176787          739188.0
pantry                1875577          650301.0
deli                  1051249          638864.0
canned goods          1068058          488535.0
meat seafood           708931          402442.0
dry goods pasta        866627          399581.0
breakfast              709569          398013.0
household              738666          297075.0
babies                 423802          245369.0
personal care          447123          143584.0
international          269253           99416.0
alcohol                153696           87595.0
pets                    97724           58760.0
missing                 69145           27371.0
bulk                    34573           19950.0
other                   36291           14806.0

In [42]:
popular_dept_3['Ratio'] = popular_dept_3['Re-Ordered Count'] / popular_dept_3['Total Orders']
popular_dept_3

                 Total Orders  Re-Ordered Count     Ratio
department
produce               9479291         6160710.0  0.649913
dairy eggs            5414016         3627221.0  0.669969
beverages             2690129         1757892.0  0.653460
snacks                2887550         1657973.0  0.574180
frozen                2236432         1211890.0  0.541885
bakery                1176787          739188.0  0.628141
pantry                1875577          650301.0  0.346721
deli                  1051249          638864.0  0.607719
canned goods          1068058          488535.0  0.457405
meat seafood           708931          402442.0  0.567674
dry goods pasta        866627          399581.0  0.461076
breakfast              709569          398013.0  0.560922
household              738666          297075.0  0.402178
babies                 423802          245369.0  0.578971
personal care          447123          143584.0  0.321129
international          269253           99416.0  0.369229
alcohol                153696           87595.0  0.569924
pets                    97724           58760.0  0.601285
missing                 69145           27371.0  0.395849
bulk                    34573           19950.0  0.577040
other                   36291           14806.0  0.407980

In [43]:
popular_dept_3 = popular_dept_3.sort_values('Ratio', ascending = False)
popular_dept_3

                 Total Orders  Re-Ordered Count     Ratio
department
dairy eggs            5414016         3627221.0  0.669969
beverages             2690129         1757892.0  0.653460
produce               9479291         6160710.0  0.649913
bakery                1176787          739188.0  0.628141
deli                  1051249          638864.0  0.607719
pets                    97724           58760.0  0.601285
babies                 423802          245369.0  0.578971
bulk                    34573           19950.0  0.577040
snacks                2887550         1657973.0  0.574180
alcohol                153696           87595.0  0.569924
meat seafood           708931          402442.0  0.567674
breakfast              709569          398013.0  0.560922
frozen                2236432         1211890.0  0.541885
dry goods pasta        866627          399581.0  0.461076
canned goods          1068058          488535.0  0.457405
other                   36291           14806.0  0.407980
household              738666          297075.0  0.402178
missing                 69145           27371.0  0.395849
international          269253           99416.0  0.369229
pantry                1875577          650301.0  0.346721
personal care          447123          143584.0  0.321129

In [44]:
popular_dept_3[0:3]

            Total Orders  Re-Ordered Count     Ratio
department
dairy eggs       5414016         3627221.0  0.669969
beverages        2690129         1757892.0  0.653460
produce          9479291         6160710.0  0.649913

Departments having highest rate of returning customers are Dairy Eggs, Beverages and Produce.

Q3. Mention the products which have the highest rate of reorders?

In [45]:
popular_prod_1 = final_join.groupby('product_name')['reordered'].aggregate(['count', 'sum'])
popular_prod_1

                                                    count    sum
product_name
#2 Coffee Filters                                     777  257.0
#2 Cone White Coffee Filters                           13    3.0
#2 Mechanical Pencils                                   8    0.0
#4 Natural Brown Coffee Filters                       241   89.0
& Go! Hazelnut Spread + Pretzel Sticks                164   87.0
...                                                   ...    ...
with Xylitol Unwrapped Original Flavor 50 Stick...     37   17.0
with Xylitol Unwrapped Spearmint 50 Sticks Suga...     55   19.0
with Xylitol Watermelon Twist 18 Sticks Sugar F...     68   31.0
with a Splash of Mango Coconut Water                   23    6.0
with a Splash of Pineapple Coconut Water               53   25.0

[49688 rows x 2 columns]

In [46]:
popular_prod_2 = popular_prod_1.rename(columns = {'count':'Total Product Orders', 'sum':'Reordered Count'})
popular_prod_2

,Total Product Orders,Reordered Count
product_name,,
#2 Coffee Filters,777,257.0
#2 Cone White Coffee Filters,13,3.0
#2 Mechanical Pencils,8,0.0
#4 Natural Brown Coffee Filters,241,89.0
& Go! Hazelnut Spread + Pretzel Sticks,164,87.0
...,...,...
with Xylitol Unwrapped Original Flavor 50 Sticks Sugar Free Gum,37,17.0
with Xylitol Unwrapped Spearmint 50 Sticks Sugar Free Gum,55,19.0
with Xylitol Watermelon Twist 18 Sticks Sugar Free Gum,68,31.0
with a Splash of Mango Coconut Water,23,6.0
with a Splash of Pineapple Coconut Water,53,25.0

In [47]:
popular_prod_2['Ratio']=popular_prod_2['Reordered Count']/popular_prod_2['Total Product Orders']
popular_prod_2

,Total Product Orders,Reordered Count,Ratio
product_name,,,
#2 Coffee Filters,777,257.0,0.330759
#2 Cone White Coffee Filters,13,3.0,0.230769
#2 Mechanical Pencils,8,0.0,0.000000
#4 Natural Brown Coffee Filters,241,89.0,0.369295
& Go! Hazelnut Spread + Pretzel Sticks,164,87.0,0.530488
...,...,...,...
with Xylitol Unwrapped Original Flavor 50 Sticks Sugar Free Gum,37,17.0,0.459459
with Xylitol Unwrapped Spearmint 50 Sticks Sugar Free Gum,55,19.0,0.345455
with Xylitol Watermelon Twist 18 Sticks Sugar Free Gum,68,31.0,0.455882
with a Splash of Mango Coconut Water,23,6.0,0.260870
with a Splash of Pineapple Coconut Water,53,25.0,0.471698

In [48]:
popular_prod_3 = popular_prod_2.sort_values('Ratio', ascending=False)
popular_prod_3

,Total Product Orders,Reordered Count,Ratio
product_name,,,
Raw Veggie Wrappers,68,64.0,0.941176
Serenity Ultimate Extrema Overnight Pads,87,81.0,0.931034
Orange Energy Shots,13,12.0,0.923077
Chocolate Love Bar,101,93.0,0.920792
Soy Powder Infant Formula,35,32.0,0.914286
...,...,...,...
Sweetart Jelly Beans,0,0.0,NaN
Ultra Sun Blossom Liquid 90 loads Fabric Enhancers,0,0.0,NaN
Unpeeled Apricot Halves in Heavy Syrup,0,0.0,NaN
Wasabi Cheddar Spreadable Cheese,0,0.0,NaN
Water With Electrolytes,0,0.0,NaN

In [49]:
popular_prod_3[0:3]

,Total Product Orders,Reordered Count,Ratio
product_name,,,
Raw Veggie Wrappers,68,64.0,0.941176
Serenity Ultimate Extrema Overnight Pads,87,81.0,0.931034
Orange Energy Shots,13,12.0,0.923077

The 3 products with highest reorder rate were Raw Veggie Wrappers, Serenity Ultimate Extrema Overnight Pads and Orange Energy Shots.

Q4. Mention the products which have the highest reorders?

In [50]:
popular_prod_4 = popular_prod_2.sort_values('Reordered Count', ascending=False)
popular_prod_4

,Total Product Orders,Reordered Count,Ratio
product_name,,,
Banana,472565,398609.0,0.843501
Bag of Organic Bananas,379450,315913.0,0.832555
Organic Strawberries,264683,205845.0,0.777704
Organic Baby Spinach,241921,186884.0,0.772500
Organic Hass Avocado,213584,170131.0,0.796553
...,...,...,...
Orange Flavored Ice Cubes,1,0.0,0.000000
Orange Flavored Mints,11,0.0,0.000000
Spicy Brown Hot Mustard,17,0.0,0.000000
Tuscan Style Portobella Mushrooms,10,0.0,0.000000
Classic Lasagna Velveeta Cheesy Skillets,2,0.0,0.000000

The 3 most reordered products were Banana, Bag of Organic Bananas and Organic Strawberries.

Q5. Find out the products which attract the most unique number of customers?

In [51]:
unique_cust_1 = final_join.groupby('product_name')['user_id'].nunique()
unique_cust_1

product_name
#2 Coffee Filters                                                  520
#2 Cone White Coffee Filters                                        10
#2 Mechanical Pencils                                                8
#4 Natural Brown Coffee Filters                                    152
& Go! Hazelnut Spread + Pretzel Sticks                              77
                                                                  ...
with Xylitol Unwrapped Original Flavor 50 Sticks Sugar Free Gum     20
with Xylitol Unwrapped Spearmint 50 Sticks Sugar Free Gum           36
with Xylitol Watermelon Twist 18 Sticks Sugar Free Gum              37
with a Splash of Mango Coconut Water                                17
with a Splash of Pineapple Coconut Water                            28
Name: user_id, Length: 49688, dtype: int64

In [52]:
unique_cust_1 = unique_cust_1.sort_values(ascending=False)
unique_cust_1

product_name
Banana                                    73956
Bag of Organic Bananas                    63537
Organic Strawberries                      58838
Organic Baby Spinach                      55037
Large Lemon                               46402
                                          ...
Non-Dairy Coconut Seven Layer Bar             0
Sweetart Jelly Beans                          0
Wasabi Cheddar Spreadable Cheese              0
Chocolate Go Bites                            0
Unpeeled Apricot Halves in Heavy Syrup        0
Name: user_id, Length: 49688, dtype: int64

Top 5 products with unique customers are Banana, Bag of Organic Bananas, Organic Strawberries, Organic Baby Spinach and Large Lemon.

In [53]:
final_join.shape

(32434500, 15)

In [54]:
final_join_BI = final_join[0:5000000]
final_join_BI.shape

(5000000, 15)

In [ ]:
final_join.to_csv('BI_Data_InstaCart.csv')